Import all relevant packages.

In [1]:
import pandas as pd

Import all Datasets.

In [2]:
# import dengue cases and serology data
serotype_df = pd.read_csv("../datasets/dengue_data_cleaned.csv")

In [3]:
serotype_df.head(3)

         date  dengue_cases  denv_1  denv_2  denv_3  denv_4
0  2023-01-01           279   0.214   0.108   0.623   0.055
1  2023-01-08           278   0.214   0.108   0.623   0.055
2  2023-01-15           273   0.214   0.108   0.623   0.055

In [4]:
# import climate data
climate_df = pd.read_csv("../datasets/climate_wk.csv")

In [5]:
climate_df.head(3)

,DateTime,Mean Temperature (°C),Mean Wind Speed (km/h),Daily Rainfall Total (mm),Maximum Temperature (°C),Max Wind Speed (km/h),Minimum Temperature (°C)
0,1980-01-06,27.676001,7.534925,2.850000,31.522349,32.8,24.924584
1,1980-01-13,27.676001,7.534925,1.128571,31.522349,32.8,24.924584
2,1980-01-20,27.676001,7.534925,39.357143,31.522349,32.8,24.924584

In [6]:
# import google trends data 
google_trends = pd.read_csv("../datasets/dengue_google_trends_cleaned.csv")

In [7]:
google_trends.head(3)

         Week  google_trends
0  2018-04-08             20
1  2018-04-15             18
2  2018-04-22             21

Convert the time columns to datetime format.

In [8]:
# serotype_df
serotype_df['time'] = pd.to_datetime(serotype_df['date'])

# climate_df
climate_df['time'] = pd.to_datetime(climate_df['DateTime'])

# google_trends
google_trends['time'] = pd.to_datetime(google_trends['Week'])

Sort all datasets by the time column in ascending order.

In [9]:
# serotype_df
serotype_df = serotype_df.sort_values('time')

# climate_df
climate_df = climate_df.sort_values('time')

# google_trends
google_trends = google_trends.sort_values('time')

Merge all datasets together.

In [10]:
# Merge the datasets by the time column using an inner join
merged_df2 = pd.merge(serotype_df, climate_df, on='time', how='inner')
merged_df2 = pd.merge(merged_df2, google_trends, on='time', how='inner')

In [11]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 257 entries, 0 to 256
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       257 non-null    object
 1   dengue_cases               257 non-null    int64
 2   denv_1                     257 non-null    float64
 3   denv_2                     257 non-null    float64
 4   denv_3                     257 non-null    float64
 5   denv_4                     257 non-null    float64
 6   time                       257 non-null    datetime64[ns]
 7   DateTime                   257 non-null    object
 8   Mean Temperature (°C)      257 non-null    float64
 9   Mean Wind Speed (km/h)     257 non-null    float64
 10  Daily Rainfall Total (mm)  257 non-null    float64
 11  Maximum Temperature (°C)   257 non-null    float64
 12  Max Wind Speed (km/h)      257 non-null    float64
 13  Minimum Temperature (°C)   257 non-null    float64
 14  Week                       257 non-null    object
 15  google_trends              257 non-null    int64
dtypes: datetime64[ns](1), float64(10), int64(2), object(3)
memory usage: 34.1+ KB

Drop duplicated columns.

In [12]:
merged_df2 = merged_df2.drop(['date', 'DateTime', 'Week'], axis=1)

Reset the index.

In [13]:
merged_df2.set_index('time', inplace=True)

Export Merged Dataframe into CSV.

In [14]:
# save merged dataframe into csv format for EDA and modelling #1
merged_df2.to_csv('../datasets/merged_df2.csv', index=True)